<div class="container">
  <div class="row">
  <div class="col-md-6">
    <h3>How is the BMI calculated?</h3>

    <code>BMI = weight / ( height * height ) </code>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Calculate your BMI
      </div>

      <div class="panel-body">
        <%= simple_form_for :bmi , :url => users_calculate_bmi_path do |f| %>
           <%= f.input :height, placeholder: "(meters 0.0)", required: true %>
           <%= f.input :weight, placeholder: "(kilograms 0.0)" %>
           <%= f.button :submit, "Calculate!", class: "btn btn-success" %>
        <% end %>
      </div>

    </div>
  </div>
  </div>
</div>